.fluid-text{
  font-size:1.5vw;
  width:60%;
}

@media(max-width:1050px){
  .fluid-text{
    font-size:2vw;
    width:80%;
  }
}

@media(max-width:750px){
  .fluid-text{
    font-size:3vw;
    width:90%;
  }
}
